.approved {
    animation: highlight 1s;
 }

 @keyframes highlight {
    0% {
        background: lightgreen
    }
    100% {
        background: none;
    }
}

.field-full-width {
    width: 100%
}